@model IEnumerable<Proyecto_ED1.Models.Producto>

@{
    ViewBag.Title = "IndexAdministrador";
}

<h2>Index Administrador</h2>

<p>
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesión", "Proyecto")</li>

        </ul>
    </div>
    @Html.ActionLink("Agregar", "CrearProducto", "Proyecto") |
    @Html.ActionLink("Carga desde JSON", "CargaCatalogo", "Proyecto") |
    @Html.ActionLink("Cargar Usuarios", "CargaUsuarios", "Proyecto")
</p>
<p>
    @Html.ActionLink("Orden por Nombre", "OrdenList", new { orden = 0, tipo = 0 }) |
    @Html.ActionLink("Orden por Genero", "OrdenList", new { orden = 1, tipo = 0 }) |
    @Html.ActionLink("Orden por Año", "OrdenList", new { orden = 2, tipo = 0 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aLanzamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aLanzamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.ActionLink("Eliminar","DeleteAdmin", new { _nombre = item.Nombre, _tipo = item.Tipo, _alanzamiento = item.aLanzamiento.ToString(), _genero = item.Genero })
        </td>
    </tr>
}

</table>
